/*====Inicio de fuente para iconos de redes sociales====*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ajfbek");
  src: url("../fonts/icomoon.eot?ajfbek#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ajfbek") format("truetype"),
    url("../fonts/icomoon.woff?ajfbek") format("woff"),
    url("../fonts/icomoon.svg?ajfbek#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
/*====Fin de fuente para iconos de redes sociales====*/

/*==== Estilos generales ====*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ol,
li {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h3,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --dark-green: #001514;
  --blood-red: #6b0504;
  --chinese-red: #a3320b;
  --goldenrob: #e6af2e;
}

.container {
  width: 1000px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}
.container_2 {
  width: 1000px;
  display: inherit;
  border: 2px solid var(--dark-green);
  border-radius: 2px;
  margin: inherit;
  padding: 0 20px;
}
/*==== Fin estilos generales====*/

/*==== Pagina de inicio ====*/
.header {
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  margin: 0;
}
.menu ol {
  display: flex;
}
.menu li {
  padding: 20px;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.menu a:hover {
  color: var(--goldenrob);
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  color: var(--blood-red);
  font-size: 36px;
  font-weight: 600;
}
.paragraph {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.main_section strong {
  color: var(--chinese-red);
}
.subtitle {
  text-align: center;
  color: var(--blood-red);
  font-weight: 600;
  font-size: 24px;
}
.parts_flex1 {
  display: block;
  margin: auto;
}

.direction {
  display: flex;
  justify-content: space-around;
}
.main_section h3 {
  text-align: center;
  color: var(--blood-red);
  font-weight: 600;
  font-size: 20px;
  margin-top: 0;
}

.footer {
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.footer small {
  color: white;
  font-size: 12px;
  font-weight: 500;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: var(--goldenrob);
}
.social {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.social-icon {
  font-size: 35px;
  color: white;
}
.social-icon:hover {
  color: var(--goldenrob);
}
/*==== Fin pagina de inicio ====*/

/*===== Pagina Container=====*/
.propiedad_flex {
  margin: 20px auto;
}
.container_3 {
  padding: 0 20px;
  border: 2px solid var(--blood-red);
  border-radius: 2px;
  margin: inherit;
}
.container_3 h2 {
  color: var(--chinese-red);
}

.language {
  background-color: #404040;
}
.language_css {
  font-size: 18px;
}
